.LoginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.Logo {
  width: 242px;
  height: 175px;
}

.SocialMediaBar {
  display: flex;
  justify-content: space-between;
}

.SocialMediaIcon {
  margin: 0px 7px;
}
